@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap");

@import URL("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=The+Nautigal:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");

body {
  background-color: #5c8cff;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  /* border-bottom: 10px solid #333333; */
}

.big-body {
  background-color: #5c8cff;
  font-family: "poppins", sans-serif;
  margin: 40px;
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  /* border-bottom: 10px solid #333333; */
}

.nav {
  background-color: #5c8cff;
  font-family: "poppins", sans-serif;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 10px solid #ff4081;
}

.nav-tab {
  background-color: #c6f8ff;
  font-family: "poppins", sans-serif;
  font-size: xx-large;
  color: #5c8cff;
  align-items: left;
  justify-content: left;
  padding: auto;
  margin-block: 280 px;
}

.nav-link {
  color: #c6f8ff;
  font-family: "popins", sans-serif;
}

.nav-item {
  background-color: #5c8cff;
  font-family: "popins", sans-serif;
  font-size: xx-large;
  /* border-bottom: 10px solid #333333; */
}

.nav-link.active {
  background-color: #cccccc;
  font-family: "popins", sans-serif;
  font-size: xx-large;
  color: white;
}

.nav-link:hover {
  background-color: #c6f8ff;
  font-family: "popins", sans-serif;
  font-size: xx-large;
  color: #5c8cff;
}

.nav-link:focus {
  background-color: #c6f8ff;
  font-family: "popins", sans-serif;
  color: #c6f8ff;
}

footer {
  background-color: #5c8cff;
  padding: 40px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c8cff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #f8f8f8;
  font-size: 24 px;
}

.instagram {
  background-image: url("../images/instagram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #5c8cff;
  width: 40px;
  height: 40px;
}

.linkedin {
  background-image: url("../images/linkedin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.github {
  background-image: url("../images/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

p {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

header {
  background-color: #5c8cff;
  padding: 10px;
  /* border-bottom: 10px solid pink; */
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c8cff;
  padding: 10px;
  /* border-bottom: 10px solid #333333; */
}

.my-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  padding-top: 4em;
}

.name {
  /* font-family: "eczar", serif; */
  font-size: 60px;
  /* line-height: 2; */
  /* margin: 10 px, 10 px, 10 px, 10 px; */
  /* margin-left: 20px; */
  color: white;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}

.subtext {
  font-family: poppins, sans-serif;
  font-size: 18px;
  padding: 5px;
  display: flex;
  text-align: left;
  margin-right: 200px;
  flex-direction: row;
  background-color: #5c8cff;
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
  font-weight: bold;
}

.card p {
  color: #5c8cff;
  font-weight: bold;
  margin-bottom: 0;
}

.application-link {
  color: #5c8cff;
  text-decoration: underline;
}

.repository-link {
  color: #5c8cff;
  text-decoration: none;
}

.cae {
  background-image: url("../images/cae.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 60px;
}
.pmp {
  background-image: url("../images/pmp.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 60px;
}

.cbap {
  background-image: url("../images/cbap.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 60px;
}

.cred-icons a {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #f8f8f8;
}

/* .logo {
  background-image: url("../images/cuterocket.png");
  background-image: url("../images/virginiaprofile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15%;
  height: auto;
  padding: 20px;
  display: block;
  border-radius: 25%;
} */

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 30%;
  }
}

/* PhotoAndText.css
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.photo {
  background-image: url("../images/virginiaprofile.jpg");
  background-repeat: no-repeat;
  flex-basis: 50%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15%;
}
.text {
  flex-basis: 50%;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 20px;
} */

.abouttext {
  font-family: "poppins", sans-serif;
  text-align: left;
  color: white;
  flex-basis: 70%;
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.abouttext p {
  font-family: poppins, sans-serif;
  font-size: 20px;
  color: white;
}

.profilephoto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Adjust as needed to center vertically within the viewport */
}

.profilephoto {
  background-image: url("../images/virginiaprofile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 15%;
  background-position: center center;
}

.bctext {
  font-family: "poppins", sans-serif;
  text-align: cen;
  color: white;
  flex-basis: 70%;
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
}
