.my-button.custom-button {
  /* start style */
  background-color: #ff4081;
  color: white;
  border-color: #ff4081;
  font-family: poppins, sans-serif;
  font-size: 30px;
  padding: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: "pointer";
}

.my-button.custom-button:hover {
  /*hover styles */
  background-color: white;
  color: #ff4081;
  border-color: #ff4081;
  border-width: 3px;
}
