@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap");

/* CSS HEX */
/*.
--bright-pink-crayola: #ef476fff;
--sunglow: #ffd166ff;
--emerald: #06d6a0ff;
--blue-ncs: #118ab2ff;
--midnight-green: #073b4cff; */

body {
  background-color: #073b4cff;
  margin: 30;
  font-family: "Eczar", serif;
  font-size: 20px;
  text-align: center;
  color: #ef476fff;
}

.big-body {
  background-color: #073b4cff;
  margin: 30px;
  text-align: center;
  color: #ef476fff;
}

.nav {
  background-color: #073b4cff;
  font-family: "Eczar", serif;
  font-size: xx-large;
}

.nav-tab {
  background-color: #073b4cff;
  font-family: "Eczar", serif;
  font-size: xx-large;
}

.nav-link {
  color: #ef476fff;
  font-family: "Eczar", serif;
}

.nav-item {
  background-color: #073b4cff;
  font-family: "Eczar", serif;
  font-size: xx-large;
}

.nav-link.active {
  background-color: #cccccc;
  font-family: "Eczar", serif;
  font-size: xx-large;
  color: #fff;
}

.nav-link:hover {
  background-color: #ffd166ff;
  font-family: "Eczar", serif;
  font-size: xx-large;
  color: #fff;
}

.nav-link:focus {
  background-color: #ffd166ff;
  font-family: "Eczar", serif;
  font-size: xx-large;
  color: #fff;
}

footer {
  background-color: #ef476fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: whitesmoke;
  font-size: 24 px;
}

.instagram {
  background-image: url("./images/instagram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.linkedin {
  background-image: url("./images/linkedin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.github {
  background-image: url("./images/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

p {
  margin-top: 10px;
  color: whitesmoke;
  font-size: 16px;
}
