


body {
  margin: 0;
  font-family: eczar, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS HEX */
-- bright-pink-crayola: #ef476fff;
-- sunglow: #ffd166ff;
-- emerald: #06d6a0ff;
-- blue-ncs: #118ab2ff;
-- midnight-green: #073b4cff;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
